// secrets.h
#ifndef SECRETS_H
#define SECRETS_H

static byte networkKey[] = {0x64, 0x1E, 0x36, 0x38, ...};
static byte appKey[] = {0x39, 0xBF, 0xC0, 0x78, 0xF5, ...};
static byte deviceAddress[] = {0x26, ...};

#endif